/* 头尾各个页面相同的样式 */
/* 版心 */
.wrapper {
  margin: 0 auto;
  width: 1240px;
}

/* 快捷导航 */
.shortcut {
  height: 52px;
  background-color: #333;
}

.shortcut .wrapper {
  display: flex;
  justify-content: flex-end;
  height: 52px;
  /* background-color: pink; */
}

.shortcut ul {
  display: flex;
  line-height: 52px;
}

.shortcut li a {
  padding: 0 15px;
  border-right: 1px solid #999;
  font-size: 14px;
  color: #fff;
}

.shortcut li:last-child a {
  border-right: 0;
}

.shortcut li .iconfont {
  margin-right: 4px;
  vertical-align: middle;
}

.shortcut li .login {
  color: #5EB69C;
}

/* 头部 */
.header {
  display: flex;
  margin-top: 22px;
  margin-bottom: 22px;
  height: 88px;
  /* background-color: pink; */
}

/* logo */
.logo {
  margin-right: 40px;
  width: 200px;
  height: 88px;
  /* background-color: skyblue; */
}

.logo a {
  display: block;
  width: 200px;
  height: 88px;
  background-image: url(../images/logo.png);
  font-size: 0;
}

/* 导航 */
.nav {
  margin-top: 33px;
  margin-right: 28px;
}

.nav ul {
  display: flex;
}

.nav li {
  margin-right: 47px;
}

.nav li a {
  padding-bottom: 10px;
  /* background-color: skyblue; */
}

.nav li a:hover {
  border-bottom: 2px solid #5EB69C;
  color: #5EB69C;
}

/* 搜索 */
.search {
  display: flex;
  margin-top: 33px;
  margin-right: 45px;
  width: 170px;
  height: 34px;
  border-bottom: 2px solid #F4F4F4;
}

.search .iconfont {
  margin-right: 8px;
  font-size: 18px;
  color: #ccc;

}

.search input {
  /* 浏览器优先生效 input标签 的默认宽度，所以 flex：1 不生效  */
  /* 解决办法：重置input的默认宽度 —— width：0 */
  flex: 1;
  width: 0;
}

.search input::placeholder {
  font-size: 16px;
  color: #ccc;
}

/* 购物车 */
.cart {
  position: relative;
  margin-top: 32px;

}

.cart .iconfont {
  font-size: 26px;
}

.cart i {
  position: absolute;
  top: 1px;
  /* right 定位右对齐：如果文字多了，向左撑开，可能盖住其他的内容 */
  /* right:1; */
  /* left 定位左对齐：如果文字多了，向右撑开 */
  left: 15px;
  padding: 0 6px;
  height: 15px;
  background-color: #e26237;
  border-radius: 8px;
  font-size: 14px;
  color: #fffefe;
  line-height: 15px;
}


/* 底部 */
.footer {
  height: 588px;
  background-color: #f5f5f5;
}

/* 服务区 */
.service {
  padding: 60px 0;

  height: 178px;
  border-bottom: 1px solid #e8e8e8;
}

.service ul {
  display: flex;
  justify-content: space-evenly;
}

.service li {
  display: flex;

  width: 190px;
  height: 58px;
  /* background-color: skyblue; */
}

.service li h5 {
  margin-right: 20px;
  width: 58px;
  height: 58px;
  background-image: url(../images/sprite.png);
}

.service li p {
  font-size: 28px;
  line-height: 58px;
}

.service li:nth-child(2) h5 {
  background-position: 0 -58px;
}

.service li:nth-child(3) h5 {
  background-position: 0 -116px;
}

.service li:nth-child(4) h5 {
  background-position: 0 -174px;
}

/* 帮助中心 */
.help {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  height: 300px;
  /* background-color: pink; */
}

/* left */
.help .left {
  display: flex;
}

.help .left dl {
  margin-right: 84px;
}

.help .left dl:last-child {
  margin-right: 0;
}

.help .left dt {
  margin-bottom: 30px;
  font-size: 18px;
}

.help .left dd {
  margin-bottom: 10px;
}

.help .left dd a {
  color: #969696;
}

.help .left dd .iconfont {
  color: #5EB69C;
}

/* reight */
.help .right ul {
  display: flex;
}

.help .right li:first-child {
  margin-right: 55px;
}

.help .right .pic {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

.help .right p {
  color: #969696;
  text-align: center;
}

/* 版权 */
.copyright {
  text-align: center;
}

.copyright a {
  margin: 0 10px;
  color: #969696;
}

.copyright p {
  margin-bottom: 10px;
  color: #969696;
}

/* 新鲜好物 */
/* 标题 -- 样式公用 */
/* 这是公用样式，一旦加上goods，就只有goods生效 */
.title {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 30px;
  height: 42px;
  /* background-color: pink; */
}

.title .left {
  display: flex;
}

.title .left h3 {
  margin-right: 35px;
  font-size: 30px;
}

.title .left p {
  align-self: flex-end;
  color: #a1a1a1;
}

.title .right .more {

  line-height: 42px;
  color: #a1a1a1;
}

.title .right .more .iconfont {
  margin-left: 10px;
}

/* 好物内容 -- 公共样式 */
.bd ul {
  display: flex;
  justify-content: space-between;
}

.bd li {

  width: 304px;
  height: 404px;
  background-color: #eef9f4;
}

.bd li .pic {
  width: 304px;
  height: 304px;
}

.bd li .tet {
  text-align: center;
}

.bd li .tet h4 {
  margin-top: 18px;
  margin-bottom: 8px;
  font-size: 20px;
}

.goods .bd p {
  font-size: 18px;
  color: #aa2113;
}

.goods .bd p span {
  margin-left: 3px;
  font-size: 22px;
}

/* 人气推荐 */
.recommend .bd li {
  background-color: #fff;
}

.recommend .bd p {
  color: #a1a1a1;
}


/* 热门品牌 */
/* 加上margin-top会出现margin会出现盒子外面，外边距塌陷 */
.brand {
  margin-top: 60px;
  height: 468px;
  background-color: #f5f5f5;
}

.brand .wrapper {
  overflow: hidden;
  height: 468px;
  /* background-color: pink; */
}

.brand .title {
  position: relative;
  margin-bottom: 40px;
}

.brand .button {

  position: absolute;
  right: 0;
  bottom: -25px;

  /* 让a在一行显示：宽高生效 */
  display: flex;
}

.brand .button a {
  margin-left: 12px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #fff;
}

.brand .button .prev {
  background-color: #ddd;
}

.brand .button .next {
  background-color: #00be9a;
}

/* 内容 */
/* .brand .bd li {
  width: 244px;
  height: 306px;
} */

/* 生鲜 */
 .fresh .title {
  margin-top: 60px;
  margin-bottom: 20px;
}

.fresh .right {
  display: flex;
}

.fresh .title .right ul {
  display: flex;
  margin-top: 10px;
  margin-right: 58px;
}

.fresh .title .right ul a {
  display: block;
  margin-right: 6px;
  padding: 0 7px;
  height: 20px;
  background-color: pink;
  list-style: center;
 } 

.title .right ul .active {
  background-color: #00be9a;
  color: #fff;
} 

/* 生鲜内容 */
.content {
  display: flex;
  justify-content: space-between;
}

.content .left {
  width: 248px;
  height: 610px;
  background-color: pink;
}

.content .right {
  width: 968px;
  height: 610px;
  /* background-color: pink; */
}

/* 默认状态下，所有li都有边块线，边块线的颜色和背景一样，悬停是变为绿色 */
.content .right ul {
  display: flex;
  flex-wrap: wrap;
}

.content .right li {
  position: relative;
  padding: 10px 21px 0;
  width: 242px;
  height: 305px;
  border: 2px solid #fff;

  /* 为了隐藏hover */
  overflow: hidden;
}

/* 产品内容 */
.content .pic {
  width: 200px;
  height: 180px;
}

.content .info {
  margin-bottom: 5px;
  margin-top: 14px;
  height: 60px;
  line-height: 19px;
}

.content .price {
  color: #aa2113;
}

.content .price span {
  margin-left: 5px;
  font-size: 22px;
}

/* 产品底部绿色的区域 */
.content li .cover {
  position: absolute;
  left: 0;
  /* bottom: 0; */
  bottom: -86px;
  padding-top: 15px;
  width: 242px;
  height: 84px;
  background-color: #00be9a;
  text-align: center;
  color: #fff;

  /* 谁变化加在谁身上 */
  transition: all 0.5s;
}

.content li .cover p:nth-child(1) {
  font-size: 18px;
}

.content li .cover p:nth-child(2) {
  margin: 3px auto 6px;
  width: 120px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.11);
}

.content li .cover p:nth-child(3) {
  font-size: 13px;
}

.content li .cover p:nth-child(3) .iconfont {
  font-size: 13px;
}

/* 当鼠标悬停到li的时候，显示cover，改变位置 */
.content .right li:hover .cover {
  bottom: 0;
}

.content .right li:hover {
  border: 2px solid #00be9a;
}

/* 最新专题 */
.topic {

  margin-bottom: 40px;
}

.topic .title {
  margin-top: 100px;
}

.topic .topic-bd ul {
  display: flex;
  justify-content: space-between;
}

.topic-bd li{
  width: 405px;
  height: 355px;
  /* background-color: pink; */
}

.topic-bd .pic{
  position: relative;
  width: 405px;
  height: 288px;
}

.topic-bd .txt{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  width: 405px;
  height: 67px;
  /* background-color: skyblue; */
  font-size: 14px;
  color: #969696;
}

.topic-bd .txt .left{
  display: flex;
}

.topic-bd .txt .left p{
  margin-right: 20px;
}

.topic-bd .txt .left p:nth-child(1) i{
  color: #aa2113;
}

/* 定位区域 - 文字 */
.topic-bd .cover{
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 15px;

  width: 405px;
  height: 90px;
  background-color: linear-gradient(180deg,rgba(137,137,137,0,00) 0%,rgba(0,0,0,0.90) 100%);
} 

.topic-bd .cover .left{
  color: #fff;
}

.topic-bd .cover .left h4{
  margin-bottom: 4px;
  font-size: 20px;
}

.topic-bd .cover .right{
  padding: 0 7px;
  height: 25px;
  background-color: #fff;
  color: #aa2113;
  font-size: 15px;
}

.topic-bd .cover .right span{
  font-size: 18px;
}

