/* 首页样式 */
/* 版心 */
.wrapper{
    margin: 0 auto;
    width: 1200px;
    white-space: nowrap;
}

body{
    background-color: #f3f5f7;
}

/* 头部区域 */
.header{
    height: 100px;
    background-color: #fff;
}

.header .wrapper{
    padding-top: 29px;
    display: flex;
    
}

/* logo */
.logo a{

    display: block;
    width: 195px;
    height: 41px;
    background-image: url(../CSS存放/图片.png);
    font-size: 0;
}

/* 导航 */
.nav{
    margin-left: 102px;
}

.nav ul{
    display: flex;
}

.nav li{
    margin-right: 24px;

}

.nav li a{
    display: block;
    padding: 6px 8px ;
    line-height: 27px;
    font-size: 19px;
}

/*  active 类选择器， 表示默认选中的a*/
.nav li active,
.nav li a:hover{
    border-bottom: 2px solid #00a4ff;
}

/* 搜索 */
.search{
    display: flex;
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
}
.search input{
    flex: 1;
    border: 0;
    /* 使颜色透明 */
    background-color: transparent;
    /* 焦点框 ,去掉表单控制的焦点框*/
    outline: none;
}

/* ::placeholder 选中就是 palceholder 属性样式 */
.search input::placeholder{
    font-size: 14px;
    color: #999;
}

/* 父级是 flex 布局，子级变弹性盒子：加宽高是生效的 */
.search a{
    align-self: center;
    width: 16px;
    height: 16px;
    background-image: url(../CSS存放/main.jpg);
}

/* 用户 */
.user{
    margin-left: 32px;
   margin-top: 4px;
}

.user img{
    /* vertical-align 行内快和行内垂直方向对齐方式*/
    vertical-align: middle;
}

.user sapn{
    /* 用户名太长的bug因为在用户名文字的最右端超出了 .wrapper一开始设置的宽度1200px */
    /* 可以在.wrapper的样式设置里面加一条：white-sapce：nowrap；表示文字超过了wrapper的宽度也不会换行*/
    font-size: 16px;
    color: #666;
}
.banner{
    height: 420px;
    background-color: #0092cb;
}

.banner .wapper{
    display: flex;
    justify-content: space-between;
    height: 420px;
    background-image: url(../CSS存放/素材.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.banner .left{
    
    padding: 3px 20px;
    width: 191px;
    height: 420px;
    background-color: rgba(0,0,0,0.42);
}
.banner .left a{
    display: flex;
    height: 46px;
    background: url(../图片/QQ20241023-200334.png) no-repeat right center;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
}
