/* 头尾各个页面相同的样式*/
/*版心*/
.wrapper {
	margin: 0 auto;
	width: 1320px;
}

/* 快捷导航*/
.shortcut {
	height: 52px;
	background-color: #333;
}

.shortcut .wrapper {
	display: flex;
	justify-content: flex-end;
	height: 52px;
	/* background-color: pink; */
}

.shortcut ul {
	display: flex;

	line-height: 52px;
}



.shortcut li a {
	padding: 0 15px;
	border-right: 1px solid #999;
	font-size: 14px;
	color: #fff;
}

/* 在li里面选择最后一个 所对应的标签a */
.shortcut li:last-child a {
	border-right: 0;
}

.shortcut li a img {
	margin-right: 4px;
	vertical-align: middle;
}

.shortcut li .login {
	color: #5eb69c;
}

/* 头部 */
.header {
	display: flex;
	margin-top: 22px;
	margin: bottom 22px;
	;
	height: 88px;
	background-color: pink;
}

/* logo */
.logo {
	margin-right: 40px;
	width: 200px;
	height: 88px;
	/* 被背景图片覆盖了 */
	/* background-color: skyblue; */
}

.logo a{
	display: block;
	width: 200px;
	height: 88px;
	background-image: url(../images文件夹/images/logo.png);
	font-size: 0;
}

/* 导航 */
.nav{
	margin-top: 33px;
	
	margin-right: 28px;
}

.nav ul{
	display: flex;
}

.nav li{
	margin-right: 56px;
}

/* 所有的a都有底部间距padding为10px，hover到谁身上，在谁身上显示绿色边框 */
.nav li a{
	padding-bottom: 10px;
	/* background-color: skyblue; */
} 

.nav li a:hover{
	border-bottom: 2px solid #5eb69c;
	color: #5eb69c;
}



/* 搜索 */
.search{
	display: flex;
	margin-top: 33px;
	margin-right: 45px;
	width: 165px;
	height: 34px;
	border-bottom: 2px solid #f4f4f4;
}


